@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Translations
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            @RenderSection("pagetitle", false)
        </title>
        @Styles.Render("~/Libraries/Components/Preloader/css")
        <link href="~/Themes/Themes.Core/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        @Styles.Render("~/Libraries/Components/MultiSelect/css")
        <link href="~/Themes/Themes.Core/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
        <link href="~/Themes/Themes.Core/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
        <link href="~/Themes/Themes.Core/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        @Styles.Render("~/Libraries/Common/css")       
        @RenderSection("stylesheet", false)        
        
        <script src="~/Themes/Themes.Core/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
        @Scripts.Render("~/Libraries/Common/js")
        @Scripts.Render("~/Libraries/Components/WebApi/js")
        @Scripts.Render("~/Libraries/Components/WebApi/Common/js")
        @RenderSection("headscripts", false)
    </head>
    <body>
        <div id="preloader">        
            <div id="status">&nbsp;</div>
        </div>    
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink(I18NEngine.GetString("modules.layouts.home", "navbar_brand_link"), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-header navbar-right">
                        @Html.ActionLink(I18NEngine.GetString("modules.layouts.home", "exit_link"), "Logout", "Accounts", new { area = "" }, new { @class = "navbar-brand" })
                    </div>                    
                }
            </div>
        </div>
    
        @RenderPage("~/Sidebar.cshtml")
    
        @RenderBody()

        <script src="~/Themes/Themes.Core/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Themes/Themes.Core/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>
        <script src="~/Themes/Themes.Core/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
        @Scripts.Render("~/Libraries/Components/MultiSelect/js")
        @RenderSection("bodyscripts", required: false)
        @Scripts.Render("~/Libraries/Components/Preloader/js")
    </body>
</html>